
table,td{
    border: solid black 1px;
    border-bottom: white;
    text-align: center;
}


td{
    font-size: 13px;

}

th{
    border: solid black 1px;
    font-size: 14px;

}

.tbl td{
    border: solid white 1px;
    text-align: left;
}
.tbl{
    width: 100%;
    border: solid white 1px;
    margin-top: 25px;
}

b{
    font-size: 13px;
}

body{
    text-transform: uppercase;
}

.tbl2 td{
    font-size: 13px;
}


