
table,td{
    border: solid black 1px;
    border-bottom: white;
    text-align: center;
}

td{
    padding-bottom: 7px;
    font-size: 14px;
}

th{
    border: solid black 1px;
    font-size: 14px;
}


