.adiv {
    width: 50%;
    height: 75px;
    margin-left: 25%;
    background-color: darkblue;
    padding-top: 1.2%;
    display: flex;
}

body {
    background-color: #E6E6FA;
}

.select1{
    text-align: center;
    margin-left: 8%;
}

.select2{
    margin-left: 8%;
}

.select3{
    margin-left: 8%;
}

.button{
    margin-left: 5%;
}

.divform{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    text-align: center;
    margin-right: 5%;
}
/*table, th, td {*/
/*    border: 1px solid;*/
/*}*/

.number-box {
    width: 80%;
    display: inline-block;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

.number {
    font-size: 18px;
    font-weight: bold;
}
